div.map {
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

div.appointment {
	width: 80%;
	margin: auto;
	left: 0;
	top: 15%;
	right: 0;
	padding: 8px;
	position: absolute;
	background-color: white;
	opacity: 0.5;
	border-radius: 10px;
	display: none;
}

div.appointment p {
	font-weight: bold;
	margin: 0px 0px 0px 5px;
	height: 24px;
}

div.appointment span{
	float: left;
	clear: left;
	color: black;
	font-style: italic;
	font-size: 120%;
	font-weight: bold;
}

div.appointment p {
	float: left;
}

div.function_bar {
	position: fixed;
	bottom: 75px;
	height: 150px;
	width: 0px;
	opacity: 0.7;
	background-color: black;
}

div.function_bar_up {
	position: fixed;
	bottom: 75px;
	left: -6px;
	height: 150px;
	width: 0px;
	overflow: hidden;
}

div.extend {
	position: absolute;
	bottom: 0;

	background-image: url(../img/extend.gif);
	background-size: 100% 100%;
	width: 70px;
	height: 70px;
}

div.write_appoint {
	float: left;
	bottom: 2px;
	background-image: url(../img/write.png);
	background-size: 100% 100%;
	width: 70px;
	opacity: 0.7;
	height: 70px;
	margin-left: 7px;
}

div.pageBack {
	float: left;
	bottom: 2px;
	background-image: url(../img/pageback.gif);
	background-size: 100% 100%;
	width: 68px;
	height: 68px;
	opacity: 0.7;
	margin-left: 7px;
}

p.position {
	display: none;
}