<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Tennis Shot</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/weather.css">
        <script src='static/js/jquery.min.js'></script>
        <script src='static/js/bootstrap.min.js'></script>
        <script src='static/database/citycode.min.js'></script>
        <script src='static/js/weather.js'></script>
<!--         <link rel="bookmark" type="image/x-icon" href="favicon.ico" mce_href="favicon.ico"/>   
        <link rel="icon" type="image/x-icon" href="favicon.ico" mce_href="favicon.ico"/>  
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" mce_href="favicon.ico"/> -->
        <link rel="bookmark" type="image/x-icon" href="static/favicon.ico" mce_href="static/favicon.ico"/>   
        <link rel="icon" type="image/x-icon" href="static/favicon.ico" mce_href="static/favicon.ico"/>  
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" mce_href="static/favicon.ico"/>        
    </head>
    <body>
        <!-- <div id='weather'></div> -->
<!--         <div class='footer layout'></div> -->
        <div class='head'>
            <div class='left'>
                <p class='tmpr'></p>
                <p class='today'></p>
                <p class='rangetmp'></p>
                <p class='state'></p>
                <p class='wind'></p>

            </div>

            <img class='today_pic' src="static/img/weather/day/moreCloud.png"> 
            <p class='update'></p>
        </div>

        <div class='footerContent'>
            <div class='homePage'></div>
            <div class='footer'>
                <div class='layout'></div>
                <p class='city'></p>
                <div class='day'>
                    <p class='week'></p>
                    <p class='date'></p>
                    <img class='weather_pic' src="static/img/weather/day/sunny.png"> 
                    <p class='temperature'></p>
                </div>
                <div class='day'>
                    <p class='week'></p>
                    <p class='date'></p>
                    <img class='weather_pic' src="static/img/weather/day/cloudToSunny.png"> 
                    <p class='temperature'></p>
                </div>
                <div class='day'>
                    <p class='week'></p>
                    <p class='date'></p>
                    <img class='weather_pic' src="static/img/weather/day/cloudToSunny.png"> 
                    <p class='temperature'></p>
                </div>
                <div class='day'>
                    <p class='week'></p>
                    <p class='date'></p> 
                    <img class='weather_pic' src="static/img/weather/day/rain.png"> 
                    <p class='temperature'></p>
                </div>
            </div>
        </div>
    </body>
</html>